{% extends 'admin.base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>
    <a class="btn btn-success" href="{{ path('admin_user_new') }}">
        Ajouter un utilisateur&nbsp;&nbsp;<i class="fas fa-plus"></i>
    </a>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Pr&eacute;nom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ roles[user.roles[0]] }}</td>
                <td width="10%" align="center">
                    <a class="btn btn-outline-info" href="{{ path('admin_user_edit', {'id': user.id}) }}"
                        title="Modifier l'utilisateur">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-warning" href="{{ path('admin_user_genpwd', {'email': user.email}) }}"
                        title="Envoyer nouveau mot de passe">
                        <i class="fas fa-envelope"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
