{% extends 'admin.base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Liste des Commentaires</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Texte</th>
                <th>Article</th>
                <th>Note</th>
                <th>Crée le</th>
                <th>En Ligne</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.texte|slice(0, 100) }}...</td>
                <td>{{ commentaire.article }}</td>
                <td>{{ commentaire.note }} / 5</td>
                <td>{{ commentaire.creation ? commentaire.creation|date('d/m/Y') : '' }}</td>
                <td>{{ commentaire.valid ? 'On' : 'Off' }}</td>
                <td>
                    {% if commentaire.valid %}
                        <a class="btn btn-outline-danger" commentaire-id="{{ commentaire.id }}"
                            href="#" title="Refuser le commentaire">
                            <i class="fas fa-times"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-outline-success valid-commentaire" commentaire-id="{{ commentaire.id }}"
                            href="#" title="Accepter le commentaire">
                            <i class="fas fa-check"></i>
                        </a>
                    {% endif %}
                    {#<a class="btn btn-outline-primary" href="{{ path('commentaire_show', {'id': commentaire.id}) }}"
                        title="Voir le commentaire">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-outline-info" href="{{ path('commentaire_edit', {'id': commentaire.id}) }}"
                        title="Modifier le commentaire">
                        <i class="fas fa-edit"></i>
                    </a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_new') }}">Create new</a>
{% endblock %}
