<!DOCTYPE html>
{% set exclude_uris = ['home', 'admin', 'app_login', 'app_register', 'user_profil'] %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - MyNews</title>
        <link rel="canonical" href="{{ app.request.uri }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/blog.css?{{ "now"|date("dmY") }}">
        <link rel="stylesheet" href="/css/layout.css?{{ "now"|date("dmY") }}">
        <link rel="stylesheet" href="/css/pagination.css?{{ "now"|date("dmY") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-12 col-sm-4">
                        <a class="blog-header-logo text-dark" href="{{ path('home') }}">My News</a>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        {% if app.user %}
                            <a class="nav-link" href="{{ path('home') }}">
                                Accueil
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link" href="{{ path('article_index') }}">
                                    Dashboard
                                </a>
                            {% endif %}
                            <a class="nav-link dropdown-toggle" href="#" id="user-picto" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="user-picto">
                                <a class="dropdown-item" href="{{ path('user_profil', {'_fragment': 'mes-infos'}) }}">
                                    <i class="far fa-user"></i>&nbsp;&nbsp;Mes Informations
                                </a>
                                <a class="dropdown-item" href="{{ path('user_profil', {'_fragment': 'mes-favoris'}) }}">
                                    <i class="far fa-star"></i>&nbsp;&nbsp;Mes Favoris
                                </a>
                                <a class="dropdown-item" href="{{ path('user_profil', {'_fragment': 'mes-commentaires'}) }}">
                                    <i class="far fa-comments"></i>&nbsp;&nbsp;Mes Commentaires
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="{{ path('logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Déconnexion
                                </a>
                            </div>
                        {% else %}
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login') }}">Connexion</a>
                                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_register') }}">Inscription</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </header>
            {% if app.request.get('_route') not in exclude_uris %}
                <!-- FIL D'ARIANE -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a class="text-dark" href="{{ path('home') }}">Accueil</a></li>
                        {% block fil_ariane %}{% endblock %}
                    </ol>
                </nav>
            {% endif %}
        </div>
        <main class="container">
            {% block body %}{% endblock %}
        </main>
        {% if app.request.get('_route') not in ['admin', 'app_login', 'app_register'] %}
            <footer class="blog-footer">
                <div class="footer-links">
                    <p>2020 - {{ "now"|date("Y") }}</p>
                </div>
            </footer>
        {% endif %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% if app.user %}
            <script>
                let idUser = {{ app.user.getId }};
            </script>
        {% endif %}
        <script src="{{ asset('js/app.min.js?2020') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
