{% extends 'base.html.twig' %}

{% block title %}{{ categorie.libelle|capitalize }}{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item" aria-current="page">{{ categorie.libelle }}</li>
{% endblock %}

{% block body %}
    <!-- CATEGORIES -->
    {{ include('categorie/_categories.html.twig', {'categories' : categories, 'current' : categorie}) }}
    <h1 class="text-center">{{ categorie.libelle }}</h1>
    <!-- ARTICLES -->
    <div class="row mb-2" id="categorie-articles">
        {{ include('article/_articles.html.twig', {'articles' : articles, 'container': '#categorie-articles'}) }}
    </div>
{% endblock %}
