{% extends 'admin.base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>
    <a class="btn btn-success" href="{{ path('categorie_new') }}">
        Ajouter une catégorie&nbsp;&nbsp;<i class="fas fa-plus"></i>
    </a>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Libelle</th>
                <th>Nb Articles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>{{ categorie.articles|length }}</td>
                <td width="10%" align="center">
                    <a class="btn btn-outline-primary" href="{{ path('categorie_show', {'id': categorie.id}) }}"
                        title="Voir la catégorie">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-outline-info" href="{{ path('categorie_edit', {'id': categorie.id}) }}"
                        title="Modifier la catégorie">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
