{% extends 'base.html.twig' %}

{% block title %}{{ categorie.libelle|capitalize }}{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a class="text-dark" href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item" aria-current="page">{{ categorie.libelle }}</li>
        </ol>
    </nav>
    <h1>{{ categorie.libelle }}</h1>
    <!-- ARTICLES -->
    <div class="row mb-2">
        {{ include('article/_articles.html.twig', {'articles' : categorie.getArticles}) }}
    </div>

    {#<a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}#}
{% endblock %}
