{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ path('categorie_show', {'url': article.categorie.url}) }}">{{ article.categorie.libelle }}</a>
    </li>
    <li class="breadcrumb-item text-dark active" aria-current="page">{{ article.titre|slice(0, 20)}} ... </li>
{% endblock %}

{% block body %}
    <div class="blog-post">
        <h1 class="blog-post-title">{{ article.titre }}</h1>
        <p class="blog-post-meta"> par <a href="#">{{ article.ecrivain }}</a></p>
        <p class="blog-post-meta text-muted">{{ article.getDate|date('D d F Y', "Europe/Paris") }}</p>

        <p>{{ article.contenu }}</p>
    </div>
    <!-- COMMENTAIRES -->
    <div class="my-3 p-3 bg-white">
        <h4 class="border-bottom border-gray pb-2 mb-0">Commentaires</h4>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="reset" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
        {{ include('article/_commentaires.html.twig', {'commentaires' : article.getCommentaires}) }}
    </div>
{% endblock %}
