{% extends 'admin.base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1 class="h2">Liste des articles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Creation</th>
                <th>Mis à jour</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.creation ? article.creation|date('d/m/Y') : '' }}</td>
                <td>{{ article.modification ? article.modification|date('d/m/Y') : article.creation|date('d/m/Y') }}</td>
                <td>{{ article.image }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('article_show', {'id': article.id}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-secondary btn-block" href="{{ path('article_edit', {'id': article.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
